// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Ojuju", "Helvetica", "sans-serif";
$headers-font: "Shantell Sans", cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


h1{
  font-family: "Shantell Sans", cursive;
  -webkit-mask-clip: text;
  font-size: 48px !important;
  font-weight: 700 !important;
  align-self: center;
  mask-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
  background: linear-gradient( #4be1ec, #000033);
  width: fit-content;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}

.charac{
  font-family: "Shantell Sans", cursive;
}
