<h1>bienvenue</h1>

<%= simple_form_for[@character, @booking] do |f| %>
  <%= f.date :start_date, as: :date %>
  <%= f.date :end_date, as: :date %>

  <%= f.button :submit, 'Create Booking' %>
<% end %>
