.card-index {
background: linear-gradient(145deg, #000033 0%, #4be1ec 100%);
border-radius: 20px;
padding: 20px;
margin: 20px;
box-shadow: 0 4px 10px 0 #000033;
text-decoration: #000033;
width: 320px ;
}
.card-index:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: #000033;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 #000033;
  text-decoration: #000033;
  width: fit-content !important;

}
