.card-index {
background: linear-gradient(#000033, #4FB9FC);
border-radius: 20px;
padding: 20px;
margin: 20px;
box-shadow: 0 4px 10px 0 #000033;
text-decoration: #000033;

}

.card-gradient:hover {
  background: linear-gradient(#000033, #4FB9FC);
  color: white;
}
