.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand-logo img {
  width: 60px;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.navbar-lewagon .nav-link {
  color: black;
}

.empty-left{
  margin-right: auto;
  width: 200px;
}
.empty-right{
  margin-left: auto;
  width: 200px;
  display: flex;
  justify-content: end;
}
